# Relatórios

### Importando bibliotecas

In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Criando engine

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/otica')

# Relatório 01 - Consultas

## 1.1 Quantidade de vendas realizadas por funcionário

Código para obtenção do resultado:

In [7]:
sql = """select profile_characteristics.characteristic_info, count(*) as total_sales from user_characteristics
    join schema_characteristics on schema_characteristics.characteristic_id = user_characteristics.id
    join profile_characteristics on profile_characteristics.schema_characteristic_id = schema_characteristics.id
    join profiles on profiles.id = profile_characteristics.profile_id
    join sales on sales.executor_profile_id = profiles.id
    where user_characteristics.id = 'fed3941a-99a0-4077-880e-a466be5040c4'
    group by profile_characteristics.characteristic_info"""

In [9]:
vendas_resumo = pd.read_sql_query(sql, con=engine).sort_values('total_sales', ascending=False)

vendas_resumo.head()

    characteristic_info  total_sales
201         Jason Smith         4067
159          Erin Smith         2145
484        Tracy Harris         2141
269      Katrina Haynes         2139
22        Amanda Wright         2138

# Referencias

https://pandas.pydata.org/pandas-docs/stable/style.html <br>
https://pythonspot.com/matplotlib-bar-chart/<br>
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html <br>